* {
    box-sizing: border-box;
}

body {
    position: relative;
}
h1 {
text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,25rem);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    margin-top: 30px;
    align-items: space-evenly;
    justify-content: center;
    width: 100%;
    height: 85vh;
    padding: 10px;
}
.card {
    flex-basis: 28%;
    display: flex;
    padding: 20px;
    background-color: white;
    color: gray;
    height: 150px;
    border: 1px solid gray;
    border-radius: 10px;
    transition: transform 0.2s ease-in;
    line-height: 0.65;
}
.text-container {
    margin-left: 10px;
}
.avatar {
    margin-right: 10px;
    border-radius: 50%;
    width: 110px;
    height: 110px;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4)
}
.modal {
    width: 375px;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px solid #778;
    border-radius: 5px;
    padding: 30px 20px;
}
.modal-close {
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
}
.hidden {
    display: none;
}
